.item {
  @apply p-4 rounded-md shadow gap-3;
  display: flex;
  flex-direction: column;
  cursor: grab;
  user-select: none;
  height: 225px;
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: 0.25rem;
  outline-color: transparent;
  background-color: var(--color);
  animation: render 0.5s ease;
}

@keyframes render {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
